// If you edit this file you need to compile the theme. See README.md for details.

$v-app-loading-text: "Jira Upload Tool : Online.";

$v-font-family: "Source Sans Pro", sans-serif;
$v-app-background-color: #fff;
$v-background-color: #eee;
$v-focus-color: #0072C6;
$v-focus-style: 0 0 0 1px $v-focus-color;
$valo-menu-background-color: darken($v-focus-color, 10%);
$v-border: 0 solid v-shade;
$v-border-radius: 0px;
$v-bevel: false;
$v-gradient: false;
$v-shadow: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-textfield-border: 1px solid v-shade;
$v-link-text-decoration: none;
$v-overlay-shadow: 0 0 0 2px #000;
$v-overlay-border-width: 2px; // For IE8
$v-window-shadow: $v-overlay-shadow;
$v-selection-overlay-background-color: #fff;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-panel-border: 2px solid v-shade;

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .customDragDropPanel{
    border: 1.5px dashed !important;
    border-radius: 25px !important;
    text-align: center !important;
    margin: auto !important;
    padding-top: 20px !important;
  }

  .customProjPanel{
    border-top-width: 0px;
    border-right-width: 1px;
    border-right-color: black;
    border-left-width: 0px;
    border-left-color: black;
    border-bottom-width: 0px;
    border-bottom-color: black;
    //border-right-style: groove !important;
  }

  .customExcPanel{
    border-top-width: 0px;
    border-right-width: 0px;
    border-right-color: black;
    border-left-width: 1px;
    border-left-color: black;
    border-bottom-width: 0px;
    border-bottom-color: black;
    //border-left-style: groove !important;
  }

  .v-label-customDragDrobLabel{
    font-size: 20px !important;
    font-weight: bolder !important;
    line-height: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
    padding-top: 23px !important;
  }

  .v-label-customHeader{
    padding-bottom: 10px !important;
  }

  .v-panel-splitCustom{
    border-top-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
  }

  .customTextField{
    height: 20px !important;
  }
}
